*{
    color: #1E3050;
}

.header{
    background-color: #1E3050 !important;
}

.header-style>h1{
    color:#D5D5D5 !important;
}

.sidebar{
    background-color: #D5D5D5;
}
.poll-card, .poll-title {
    border: 2px solid #D5D5D5;
}

.btn-style{
    background-color: #1E3050 !important;
    color:#D5D5D5 !important;
}

.poll-title{
    background-color: #D5D5D5;
}

.color{
    color: white;
}

.t-area{
    background-color: #D5D5D5;
    outline: #1E3050;
}