.header{
    background-color: #1E3050 !important;
    height: auto;
}

.header-color{
    color:#D5D5D5 !important;
}

.sidebar{
    background-color: #D5D5D5;
}
.poll-card, .poll-title {
    border: 2px solid #D5D5D5;
}

.btn-style{
    background-color: #1E3050 !important;
    color:#D5D5D5 !important;
}

.btn-style:hover{
    border: 2px solid #1E3050 !important;
    background-color: #D5D5D5 !important;
    color: #1E3050 !important;
}

.poll-title{
    background-color: #D5D5D5;
    color: #1E3050;
}

.greyish-color{
    color: #D5D5D5 !important;
}

.blueish-color{
    color: #1E3050 !important;
}

.t-area{
    background-color: #D5D5D5;
    outline: #1E3050;
}

.register-form, .login-form{
    border: 2px solid #1E3050;
    background-color: #D5D5D5;
}


      
/* CSS Style for Sidebar Question Link */
.sidebar-question-link{
    background-color: #1E3050 !important;
    text-decoration: none;
    color:#D5D5D5 !important;
    cursor: pointer;
}

a.sidebar-question-link:hover {
    border: 2px solid #1E3050 !important;
    background-color: #D5D5D5 !important;
    color: #1E3050 !important;
}

/* CSS Style for Showing Polling Card upon Click on Poll Question Link */
.show-poll{
    border: 2px solid #D5D5D5;
}

.show-poll-option-number{
    background-color:#1E3050;
    border-left: 1px solid #1E3050;
    border-top: 1px solid #1E3050;
    border-bottom: 1px solid #1E3050;
    color: #D5D5D5 !important;
}

.show-poll-option-detail{
    color:#1E3050;
    border-right: 1px solid #1E3050 !important;
    border-top: 1px solid #1E3050 !important;
    border-bottom: 1px solid #1E3050 !important;
}

/* Styles for Pollig/Voting View */
.poll-form-border{
    border:2px solid #D5D5D5 !important;
}

input[type='radio']{
    background-color:#1E3050;
    color: #D5D5D5 !important;
}

.poll-form-option{
    border-radius: 0.390rem;
    color:#1E3050;
    border: 1px solid #1E3050 !important;
}

.poll-form-option:hover{
    border-radius: 0.390rem;
    background-color: #D5D5D5 !important;
    cursor: pointer;
    border: 2px solid #D5D5D5 !important;
}

.poll-option-selected{
    border-radius: 0.390rem;
    background-color: #D5D5D5 !important;
    cursor: pointer;
    border: 1px solid #1E3050 !important;
}